.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 25px;
  color: white;
  word-break: normal;
  margin-left: 22px;
  margin-right: 22px;
  z-index: 2;
}

.App .title {
  color: black;
  font-family:'Courier New', Courier, monospace;
  margin-top: 3%;
}
.Menu {
  width: 900px;
  height: 500px;
  border-radius: 10px;
  background-image: url("https://data.designervn.net/2019/09/9676_3c1b0f70d986fd4e324cb43331b33b81.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.Menu:hover::before {
  position: absolute;
  content: "";
  width: 900px;
  height: 500px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  z-index: 2;
}

.Menu input, button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: 2px;
  border-radius: 5px;
  font-size: 20px;
}

.content {
  z-index: 2;
}

.questions {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.questions button {
  font-size: 18px;
  width: 300px;
  height: 40px;
  margin: 6px;
}
.questions button:hover {
  background-color: #0fadf1;
}
.startButton {
  width: 200px;
  height: 40px;
  margin: 30px;
  border-style: inset;
  border-radius: 5px;
  font-size: 20px;
}

.startButton:hover ,.nextQuestion:hover, .restart:hover {
  background-color: rgb(124, 231, 174);
  cursor: pointer;
}

.Quiz {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  background-image: url("https://data.designervn.net/2019/09/9676_3c1b0f70d986fd4e324cb43331b33b81.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.Quiz:hover::before {
  position: absolute;
  content: "";
  width: 700px;
  height: 500px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
}

.options button {
  padding: 15px 30px;
  font-size: 18px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  background: white;
  color: black;
  /* box-shadow: 0 0 10px white, inset 0 0 10px white; */
}

.options button:hover {
  animation: a 0.5s 1 linear;
  background-color: rgb(111, 170, 221);
}

@keyframes a {
  0% {
    transform: scale(0.9, 1.0);
  }

  25% {
    transform: scale(1.0, 0.9);
  }

  50% {
    transform: scale(0.9, 1.0);
  }

  75% {
    transform: scale(1.0, 0.9);
  }

  100% {
    transform: scale(1, 1);
  }
}

h2 {
  font-size: 20px;
}
.Menu, .Quiz, .EndScreen h1 {
  color: white;
}

.option {
  background-color: red;
}
.EndScreen {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  background-image: url("https://data.designervn.net/2019/09/9676_3c1b0f70d986fd4e324cb43331b33b81.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.EndScreen:hover::before {
  position: absolute;
  content: "";
  width: 700px;
  height: 500px;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
}

.EndScreen button {
  font-size: 20px;
  width: 200px;
  border-style: inset;
  margin-top: 50px;
}
/* .restart, .finish {
  width: 150px;
  height: 40px;
  margin-top: 40px;
  border-style: inset;
  z-index: 2;
} */

.NextFinishRes {
  background: #3f80da;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #2593d7;
  overflow: hidden;
  position: relative;
  width: 12em;
  height: 2.8em;
  padding-right: 3.3em;
  margin-top: 2em;
  border-style: dashed ;
  z-index: 2;
 }
 
 .NextFinishRes .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #1d35af;
  right: 0.3em;
  transition: all 0.3s;
 }

 .restart .icon {
  margin-top: -1.7em;
 }
 
 .NextFinishRes:hover .icon {
  width: calc(100% - 0.6em);
 }
 
 .NextFinishRes .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #2e4ac8;
 }
 
 .NextFinishRes .icon svg {
  transform: translateX(0.1em);
 }
 
 .NextFinishRes:active .icon {
  transform: scale(0.95);
 }
 

h3 {
  color: #ffffff;
}





.options {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreNoti {
  color: white;
  font-size: 50px ;
  z-index: 2;
}

.NextFinishRes a {
  color: white;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  z-index: 3;
}
.restart {
  margin-top: 5em;
}



.title {
  width: auto;
  margin: 0;
  margin-bottom: 1em;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.title {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.5);
  --animation-color: #80a8e9;
  --fs-size: 1.5em;
  margin-left: 4em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  margin-left: -2em;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 2px var(--animation-color);
}
/* hover */
.frame:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

