.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 25px;
  color: white;
  word-break: normal;
  margin-left: 22px;
  margin-right: 22px;
  z-index: 2;
}

.App .title {
  color: black;
  font-family:'Courier New', Courier, monospace;
  margin-top: 3%;
}
.Menu {
  width: 900px;
  height: 500px;
  border-radius: 10px;
  background-image: url("https://data.designervn.net/2019/09/9676_3c1b0f70d986fd4e324cb43331b33b81.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.Menu:hover::before {
  position: absolute;
  content: "";
  width: 900px;
  height: 500px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 10px;
  z-index: -1;
}

.Menu input, button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: 2px;
  border-radius: 5px;
  font-size: 20px;
}



.questions {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.questions button {
  font-size: 18px;
  width: 300px;
  height: 40px;
  margin: 6px;
}
.questions button:hover {
  background-color: #0fadf1;
}
.startButton {
  width: 200px;
  height: 40px;
  margin: 30px;
  border-style: inset;
  border-radius: 5px;
  font-size: 20px;
}

.startButton:hover ,.nextQuestion:hover, .options button:hover, .restart:hover {
  background-color: rgb(124, 231, 174);
  cursor: pointer;
}

.Quiz {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  background-image: url("https://data.designervn.net/2019/09/9676_3c1b0f70d986fd4e324cb43331b33b81.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.Quiz:hover::before {
  position: absolute;
  content: "";
  width: 700px;
  height: 500px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
}

h2 {
  font-size: 20px;
}
.Menu, .Quiz, .EndScreen h1 {
  color: white;
}

.EndScreen {
  width: 700px;
  height: 500px;
  border-radius: 10px;
  background-image: url("https://data.designervn.net/2019/09/9676_3c1b0f70d986fd4e324cb43331b33b81.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.EndScreen:hover::before {
  position: absolute;
  content: "";
  width: 700px;
  height: 500px;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
}

.EndScreen button {
  font-size: 20px;
  width: 200px;
  border-style: inset;
  margin-top: 50px;
}
.nextQuestion, .restart, .finish {
  width: 150px;
  height: 40px;
  margin-top: 40px;
  border-style: inset;
}

h3 {
  color: #ffffff;
}





.options {
  display: flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreNoti {
  color: black;
  font-size: 50px ;
}

.restart a {
  color: black;
  text-decoration: none;
}



.title {
  width: auto;
  margin: 0;
  margin-bottom: 1em;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.title {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.5);
  --animation-color: #80a8e9;
  --fs-size: 1.5em;
  margin-left: 4em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  margin-left: -2em;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 2px var(--animation-color);
}
/* hover */
.title:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

